<div id="participants-table">
  <noscript>
    <p>
      Javascript est désactivé : la liste des pré-inscrit⋅e⋅s ne pourra pas être
      chargée.
    </p>
  </noscript>
</div>

<script type="application/javascript">
  $("document").ready(function() {
    $("#participants-table").text("Chargement des pré-inscrit⋅e⋅s…");
    fetch("{{ site.endpoint_url }}/participants")
      .then(function(response) {
        return response.json();
      })
      .then(function(json) {
        var tbody = $("<tbody>");
        var table = $("<table>", { class: "table" })
          .append(
            $("<thead>").append(
              $("<tr>")
                .append($("<th>", { scope: "col" }).text("Nom"))
                .append($("<th>", { scope: "col" }).text("Inscription"))
                .append($("<th>", { scope: "col" }).text("Club"))
                .append($("<th>", { scope: "col" }).text("Niveau"))
            )
          )
          .append(tbody);
        for (var i = 0; i < json.length; i++) {
          var p = json[i];
          tbody.append(
            $("<tr>")
              .append($("<td>").text(p["first_name"] + " " + p["last_name"]))
              .append(
                $("<td>").text(
                  p["type"] === "player" ? "Joueur⋅se" : "Accompagnateur⋅rice"
                )
              )
              .append($("<td>").text(p["type"] === "player" ? p["club"] : "-"))
              .append($("<td>").text(p["type"] === "player" ? p["level"] : "-"))
          );
        }
        $("#participants-table").html(table);
      });
  });
</script>
