---
layout: default
---

<nav
  class="container navbar navbar-expand-md navbar-light justify-content-center"
>
  <nav class="navbar-nav">
    {%- for item in site.data.navbar-tournament -%} {%- assign current_page =
    site.pages | where: "path", item | first -%}
    <a
      class="nav-item nav-link{% if current_page.path == page.path %} active{% endif %}"
      href="{{ current_page.url | relative_url }}"
      >{{ current_page.title | escape }}</a
    >
    {%- endfor -%}
  </nav>
</nav>
<article class="post">
  <header class="post-header"></header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
